body {
   background-color: #EADEDA;
   color : #3C7A89;
}

h1{
   color :#3C7A89;
}

.user{
   color : #3C7A89;
   background-color : #C2D3CD;
}

.user : hover{
   color : #C2D3CD;
   background-color : #3C7A89;
   transition-duration : 2s;
}
